*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.navbar {
  background-color: blue;
  color: black;
  padding: 15px 0;
}
.navdiv {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.4s ease-in-out;
}
.nav-links a:hover{
  color: red;
}
